<aside class="bg-gray-800 text-gray-200 w-64 h-full p-4">
  <ul class="space-y-3">
    <li>
      <a
        routerLink="/week1"
        routerLinkActive="bg-gray-700 text-white"
        class="block p-2 rounded hover:bg-gray-700 hover:text-white"
      >
        Week 1
      </a>
    </li>

    <li>
      <a
        routerLink="/week2"
        routerLinkActive="bg-gray-700 text-white"
        class="block p-2 rounded hover:bg-gray-700 hover:text-white"
      >
        Week 2
      </a>
    </li>

    <li>
      <a
        routerLink="/week3"
        routerLinkActive="bg-gray-700 text-white"
        class="block p-2 rounded hover:bg-gray-700 hover:text-white"
      >
        Week 3
      </a>
    </li>
  </ul>
</aside>
