<nav class="bg-black text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold">My Angular App</h1>

    <div class="flex gap-5">
      <button
        (click)="getError500()"
        class="bg-amber-400 py-2 px-4 rounded-xl hover:opacity-85 cursor-pointer"
      >
        Test lỗi 500
      </button>
      <button
        (click)="getError401()"
        class="bg-amber-400 py-2 px-4 rounded-xl hover:opacity-85 cursor-pointer"
      >
        Test lỗi 401
      </button>
      <button
        (click)="fetchData()"
        class="bg-amber-400 py-2 px-4 rounded-xl hover:opacity-85 cursor-pointer"
      >
        Test lab 4.3
      </button>
      <span class="text-sm">Hà Văn Vinh</span>
    </div>
  </div>
</nav>
